* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*overflow: hidden;
    scroll-behavior: smooth;
    overflow-x: hidden;*/
}

.portada {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-principal {
    background-color: rgba(0, 0, 0, 0.5);
}

.my-shadown {
    background-color: rgba(0, 0, 0, 0.5);
}
